{% extends 'layouts/layout.html' %}

{% block content %}
    <h1 class="text-center">About</h1>


    <p>
        Welcome to our password generator! Our tool is designed to help you create strong, secure, and random passwords that are virtually impossible to crack. With the increasing importance of online security, it's more important than ever to use strong passwords that can protect your personal and sensitive information. 
    </p>
    <p>
        Our password generator is incredibly easy to use. Simply choose the length of your password, select the types of characters you want to include, and click "Generate". Our tool will instantly create a unique password that you can use for your online accounts, email, or any other application that requires a password. 
    </p>
    <p>
        
        Our password generator uses industry-standard encryption to ensure that your passwords are safe and secure. We do not store any of your passwords, so you can rest assured that your information is completely private and secure. 
    </p>
    <p>
        So, whether you're creating a new online account or updating an old one, let our password generator help you create a strong and secure password that will keep your information safe from hackers and cyber criminals. Try our password generator today and start taking control of your online security!
    </p>
{% endblock content %}

